.gallery {
	background-color: #006241;
	padding: 2em 0;
}

.gallery__container-img {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
	padding: 0 0 1.5em;
}

.gallery__img {
	margin-top: 1.5em;
}

@media (min-width: 768px) {
    .gallery__container-img {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.gallery__img {
		width: 30%;
	}
}
